name: Deploy Front Web

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t front-web:latest .

      - name: Save image
        run: |
          docker save front-web:latest | gzip > front-web.tar.gz

      - name: Upload image & compose to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          source: "front-web.tar.gz,docker-compose.yml"
          target: "/home/ubuntu/frontend-service"

      - name: Deploy on server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            set -e
            cd /home/ubuntu/frontend-service
            docker load < front-web.tar.gz
            docker compose down
            docker compose up -d
